@charset "UTF-8";
#userInfoTable {
    min-height: 408px;
}

#userInfoTable td {
    vertical-align: middle;
}

.colin-return-part {
    padding: 10px;
}

.colin-return-part a {
    color: #4D4D4D;
}

.colin-return-part a:hover {
    text-decoration: none;
    color: #00b7ee;
}

.colin-return-part a span {
    position: relative;
    top: 2px;
}

#userInfoModal td, #userInfoModal th {
    text-align: center;
}
#userInfoModal td span{
    display: inline-block;
    margin:10px 5px;
}
#roleConfigBtn {
    margin-bottom: 10px;
}
table{
    table-layout:fixed;
}
table td{
    word-wrap:break-word;
}