@charset "UTF-8";
#userInfoTable{
    min-height: 408px;
}
#userInfoTable td{
    vertical-align: middle;
}
.colin-return-part{
    padding: 10px;
}
.colin-return-part a{
    font-size: 1.3em;
    color: #17a08c;
}
.colin-return-part a:hover{
 text-decoration: none;
 }
.colin-return-part a span{
    position: relative;
    top: 2px;
}