.colin-upload-snapshot{
    height:200px;
}
#templateSnapshotArea{
    height: 100%;
    padding: 56.5px 0 0;
    border: 1px dotted #CCCCCC!important;
}
#templateSnapshotArea p{
    font-size: 1.2em;
    margin: 10px 0 0;
}
#templateSnapshotArea #templateSnapshot{
    padding:56.5px 0 0;
}
.colin-upload-snapshot_append{
    height: 300px;
}
#templateSnapshotUploadThum{
    height: 240px;
    border: 1px solid #CCCCCC;
}
#templateSnapshotUploadThum img{
    height: 200px;
}
#templateSnapshotUploadThum .thumbnail{
    margin: 5px 0 2px;
}
#templateSnapshotUploadThum i{
    position: absolute;
    left: 87%;
    top: 6px;
    font-size: 1.8em;
}
#templateResourceUploadSuccess{
    height:220px;
}
#templateResourceUploadSuccess .form-control{
    height: 100%;
    padding: 2px 0;
}
#templateResourceUploadSuccess a{
    margin:2px 0;
    height: 210px;
}
#templateResourceUploadSuccess img{
    height:100%;
    width: 100%;
 }
#templateSnapshotUploadForm{
    height: 40px;
    position: relative;
    top: -5px;
}
#templateSnapshotUploadForm .col-sm-9{
    padding: 15px 0 0 5px;
}
#templateSnapshotUploadForm .col-sm-3{
    text-align: right;
    padding: 3px 0 0;
}
#templateSnapshotUploadForm .col-sm-4 button{
    margin: 0 5px;
}
#templateResourceUpload{
    height: 50px;
}
#templateResourceUpload ul{
    height: 50px;
    margin: 0;
    line-height: 50px;
}
#templateResourceUpload .col-sm-2{
    padding: 0;
}
#resumeAddSnapshotBtn{
    float: left;
    font-size: 14px;
    margin: 0 10px 0 27px ;
}
#startUploadSnapshotBtn,#resetUploadSnapshotBtn{
    float: left;
    height: 39px;
    margin-right:5px;
    font-size: 1.4rem;
}
#templateResourceUploadCompleted{
    height:25px;
}
